<form class="form-horizontal">
    <h3>{{ _('Active') }}</h3>
    <div class="control-group">
        <label class="control-label" for="grid-options-switch-grid-gen">{{ _('Enable Camera Documentation: ') }}</label>
        <div class="controls">
            <input type="checkbox" name="toggleEnable" class="input-block-level" data-bind="checked: settings.plugins.OctoCameraDocumentation.active" id="option-toggle-active">
        </div>
    </div>

    <h3>{{ _('Folders') }}</h3>

    <div class="control-group">
        <label class="control-label" for="settings-folderUploads">{{ _('Picture Target Folder: ') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCameraDocumentation.target_folder" id="settings-target-folder">
        </div>
    </div>
    <h3>{{ _('Picture') }}</h3>
    <div class="control-group">
        <label class="control-label" for="settings-width">{{ _('Picture width: ') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCameraDocumentation.picture_width" id="settings-picture-width">
        </div>
        <label class="control-label" for="settings-height">{{ _('Picture height: ') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCameraDocumentation.picture_height" id="settings-picture-height">
        </div>
        <div class="layer-buttons btn-group-toolbar row-fluid">
            <button type="button" class="btn btn-primary btn-medium span6" data-bind = "click: getImageRes">
                <span>{{ _('Get picture resolution') }}</span>
            </button>
        </div>
        <label class="control-label" for="settings-overlap">{{ _('Picture overlap: ') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCameraDocumentation.overlap" id="settings-overlap">
        </div>
        <label class="control-label" for="settings-stitching_active">{{ _('Picture stitching: ') }}</label>
        <div class="controls">
            <input type="checkbox" name="toggleEnable" class="input-block-level" data-bind="checked: settings.plugins.OctoCameraDocumentation.stitching_active" id="settings-stitching_active">
        </div>
        <label class="control-label" for="settings-stitching_method">{{ _('Stitching Method: ') }}</label>
        <div class="controls">
            <select id="settings-stitching_method" data-bind="value: settings.plugins.OctoCameraDocumentation.stitching_method, options: stitching_method_values, optionsText: 'name', optionsValue: 'key'">
            </select>
        </div>
        <label class="control-label" for="repetitions">{{ _('Picture Repetitions: ') }}</label>
        <div class="controls">
            <input data-bind="value: settings.plugins.OctoCameraDocumentation.repetitions" id="repetitions" type="number" step="1" min="1" max="5" class="input-mini text-right">
        </div>
    </div>

    <h3>{{ _('Extruders') }}</h3>
    <div class="row-fluid">
        <label class="control-label" for="extruders.plastic">{{ _('Plastic Extruder: ') }}</label>
        <div class="controls">
            <input id="extruders.plastic" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoCameraDocumentation.extruders.plastic">
        </div>
    </div>
    <div class="row-fluid">
        <label class="control-label" for="extruders.conductive">{{ _('Conductive Extruder: ') }}</label>
        <div class="controls">
            <input id="extruders.conductive" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoCameraDocumentation.extruders.conductive">
        </div>
    </div>

    <h3>{{ _('GCode') }}</h3>

    <div class="control-group">
        <label class="control-label" for="gcode.prepic1">{{ _('Pre Picture GCode 1: ') }}</label>
        <div class="controls">
            <textarea rows="1" class="block" id="gcode.prepic1" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.prepic1"></textarea>
        </div>
        <label class="control-label" for="gcode.postpic1">{{ _('Post Picture GCode 1: ') }}</label>
        <div class="controls">
            <textarea rows="1" class="block" id="gcode.postpic1" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.postpic1"></textarea>
        </div>
        <div data-bind="visible: settings.plugins.OctoCameraDocumentation.repetitions() > 1">
            <label class="control-label" for="gcode.prepic2">{{ _('Pre Picture GCode 2: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.prepic2" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.prepic2"></textarea>
            </div>
            <label class="control-label" for="gcode.postpic2">{{ _('Post Picture GCode 2: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.postpic2" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.postpic2"></textarea>
            </div>
        </div>
        <div data-bind="visible: settings.plugins.OctoCameraDocumentation.repetitions() > 2">
            <label class="control-label" for="gcode.prepic3">{{ _('Pre Picture GCode 3: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.prepic3" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.prepic3"></textarea>
            </div>
            <label class="control-label" for="gcode.postpic3">{{ _('Post Picture GCode 3: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.postpic3" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.postpic3"></textarea>
            </div>
        </div>
        <div data-bind="visible: settings.plugins.OctoCameraDocumentation.repetitions() > 3">
            <label class="control-label" for="gcode.prepic4">{{ _('Pre Picture GCode 4: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.prepic4" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.prepic4"></textarea>
            </div>
            <label class="control-label" for="gcode.postpic4">{{ _('Post Picture GCode 4: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.postpic4" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.postpic4"></textarea>
            </div>
        </div>
        <div data-bind="visible: settings.plugins.OctoCameraDocumentation.repetitions() > 4">
            <label class="control-label" for="gcode.prepic5">{{ _('Pre Picture GCode 5: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.prepic5" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.prepic5"></textarea>
            </div>
            <label class="control-label" for="gcode.postpic5">{{ _('Post Picture GCode 5: ') }}</label>
            <div class="controls">
                <textarea rows="1" class="block" id="gcode.postpic5" data-bind="value: settings.plugins.OctoCameraDocumentation.gcode.postpic5"></textarea>
            </div>
        </div>
    </div>
</form>
